<!DOCTYPE html>
<html>
<head>

	<!--
	Nome: Guilherme Rebelo
	Data: 28/08
	fone: 48 9 9806 0375;	;
	-->
	
	<title>Guilherme Rebelo</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/curriculo.css">
</head>
<body>

	<section>
		<!-- Apresentação -->
		<div class="categoria">
			<div class="conteudo">
				<h1 id="nomePrincipal" class="espacoLetras">GUILHERME REBELO</h1>
				<h3 class="espacoLetras">Devenvolvedor Web, 26 anos</h3>
			</div>
			<div id="info">
				<h4>guilhermerebelo@live.com</h4>
				<h4>(48) 9 9806 0375</h4>
			</div>
		</div>
		<div class="categoria">
			<div class="nomeCategoria">Perfil</div>
			<div class="conteudo alinhar">
			Desenvolvedor Web com 2 anos de estudos sobre as tecnologias relacionadas ao front-end, tenho conhecimento em HTML, CSS, Javascript, JQuery, Angular JS, PHP e JAVA, atualmente curso o técnico de desenvolvimento web ministrado pela Betha Sistemas, em 2018 retorno pra UFSC em Araranguá onde faço o 3º semestre em Tecnologia da Informação e Comunicação, tenho experiencia com vendas, rh e logística.
			</div>
		</div>


		<!-- Habilidades -->
		<div class="categoria">
			<div class="nomeCategoria">Habilidades</div>
			<div class="conteudo">
				<div class="skills">
					<div>
						<p class="titulo">Front-end</p>
						<p class="subConteudo">HTML5</p>
						<p class="subConteudo">CSS3</p>
						<p class="subConteudo">JAVASCRIPT</p>
						<p class="subConteudo">JQUERY</p>
						<p class="subConteudo">ANGULAR JS (v.1)</p>
					</div>
					<div>
						<p class="titulo">Back-end</p>
						<p class="subConteudo">PHP</p>
						<p class="subConteudo">JAVA</p>
						<p class="subConteudo">SQL</p>
					</div>
					<div>
						<p class="titulo">Design</p>
						<p class="subConteudo">ADOBE PHOTOSHOP</p>
					</div>
				</div>
			</div>
		</div>


		<!-- Formação & Ensino Superior -->
		<div class="categoria"> 
			<div class="nomeCategoria">Formação & Ensino Superior</div>
			<div class="conteudo">			
				<div class="secaoConteudo">
					<p class="titulo">UFSC - Araranguá (SC) <span class="ano">2016~</span></p>
					<p class="subTitulo alinhar">Tecnologia da Informação e comunicação - 2º fase</p>
				</div>
				<div >
					<p class="titulo">Esucri - Criciúma (SC)<span class="ano">2015-2016</span></p>
					<p class="subTitulo alinhar">Sistemas da Informação - 1º à 3º fase</p>
				</div>
			</div>
		</div>	


		<!-- Cursos presenciais & online -->
		<div class="categoria"> 
			<div class="nomeCategoria">Cursos<br> presenciais & online</div>
			<div class="conteudo">
				<div class="secaoConteudo">
					<div class="espacoCurso">
						<p class="titulo">Java, Angular, HTML, CSS, Javascript <span class="ano">2017</span></p>
						<p class="subTitulo alinhar">Bairro dá juventude - Ministrado pela Betha Sistemas - 6 meses</p>
					</div>		
					<div class="espacoCurso">
						<p class="titulo">Angular JS (v.1)</p>
						<p class="subTitulo alinhar">Rodrigo Branas (online) - 7,5 horas</p>
					</div>	
					<div class="espacoCurso">
						<p class="titulo">Curso de PHP</p>
						<p class="subTitulo alinhar">eXcript (online) - 12 horas</p>
					</div>
					<div class="espacoCurso">
						<p class="titulo">Curso de JQuery</p>
						<p class="subTitulo alinhar">Universidade XTI (online) - 10 horas</p>
					</div>	
				</div>			
				<div class="secaoConteudo">
					<div class="espacoCurso">
						<p class="titulo">Curso de Javascript <span class="ano">2016</span></p>
						<p class="subTitulo alinhar">Universidade XTI (online) - 7 horas</p>
					</div>
					<div class="espacoCurso">
						<p class="titulo">Curso de HTML5 & CSS3</p>
						<p class="subTitulo alinhar">Curso em Vídeo (online) - 8 horas</p>
					</div>	
				</div>					
				<div>
					<p class="titulo">Curso de Algoritmos<span class="ano">2015</span></p>
					<p class="subTitulo alinhar">Curso em Vídeo (online) - 8 horas</p>
				</div>
			</div>
		</div>	


		<!-- Experiência -->		
		<div class="categoria">
			<div class="nomeCategoria">Experiência <br> Profissional </div>
			<div class="conteudo">	
				<div class="secaoConteudo">
					<div class="titulo">Daybimix games<span class="ano">2014~</span></div>
					<div class="subTitulo">Caixa e vendas</div>
					<div class="subConteudo alinhar">Cobrança, fechamento de caixa, vendas, relatório de vendas, suporte a clientes.</div>
				</div>			
				<div class="secaoConteudo">
					<div class="titulo">Reunidas<span class="ano">2012-2014</span></div>
					<div class="subTitulo">Auxiliar Administrativo</div>
					<div class="subConteudo alinhar">Emissão de documento de frete, agendamento de entrega atendimento via telefone, cotação e cadastro de clientes.
					</div>
				</div>
				<div>
					<div class="titulo">Construtora Fontana <span class="ano">2009-2010</span></div>
					<div class="subTitulo">Menor Aprendiz de Recursos Humanos</div>
					<div class="subConteudo alinhar">Atendimento a funcionários, agendamento de consulta medida, processo de admissão e demissão, vale transporte de funcionários, arquivo e cadastro.
					</div>
				</div>
			</div>
		</div>
		</div>
		

		<!-- Rodapé-->
		<p class="centralizar">Desenvolvido por Guilherme Rebelo apenas em HTML & CSS</p>
	</section>

</body>
</html>