<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../../img/favicon.ico">

    <title>Projeto Bairro da Juventude</title>

    <!-- Bootstrap core CSS -->
    <link href="../../biblioteca/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../../biblioteca/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='../../biblioteca/font/font-1.css' type='text/css'>
    <link href='../../biblioteca/font/font-2.css' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../../css/creative.css" rel="stylesheet">

    <!-- Angular JavaScript -->
    <script type="text/javascript" src="../../biblioteca/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../biblioteca/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="../../biblioteca/angular/ngMask.min.js"></script>
    
    <!-- Angular JavaScript - app -->    
    <script type="text/javascript" src="../../angular/app.js"></script>

    <!-- Angular JavaScript - controller -->    
    <script type="text/javascript" src="../../angular/controller/painel/ctrlPainelAdm.js"></script>

    <!-- Angular JavaScript - service -->    
    <script type="text/javascript" src="../../angular/service/admAPI.js"></script>

</head>

  <body id="page-top" ng-controller="ctrlPainelAdm">

    <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger cor-login" href="../../index.html">
            <img id="logo-tamanho" src="../../img/logo-nav-main.png">
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown cursor-pointer">
                <a class="nav-link dropdown-toggle cor-login" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Entrar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="login-administracao.html">Administração</a>
                    <a class="dropdown-item" href="login-professores.html">Professores</a>
                    <a class="dropdown-item" href="login-alunos.html">Alunos</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>





    <!--login -->          
    <section class="container">      
        <form name="loginAdmForm" class="col-md-offset-4 col-md-4 col-md-offset-4">
          <h2 class="">Portal da Administração</h2>
          <br>
          <div class="form-group">
            <label for="exampleInputPassword1">Usuário</label>
            <input type="text" class="form-control" name="usuario" id="exampleInputPassword1" placeholder="Usuário" ng-model="login.admin" ng-required="true">
            <div class="alert alert-danger" ng-show="loginAdmForm.usuario.$error.required && loginAdmForm.usuario.$dirty">
              <strong>Informe o usúario</strong> 
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" name="senha" id="exampleInputPassword1" placeholder="Senha"  ng-model="login.senha" ng-required="true">
          </div>
          <div class="alert alert-danger" ng-show="loginAdmForm.senha.$error.required && loginAdmForm.senha.$dirty">
            <strong>Insira a senha</strong> 
          </div>
          <button data-toggle="modal" data-target="#loginSucesso" type="submit" class="btn btn-success" ng-click="fazerLogin(login)" ng-disabled="loginAdmForm.$invalid">Entrar</button>
        </form>
    </section>




    <!-- footer -->    
    <footer class="cor-laranja-theme color-white" >
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h4 >Api desenvolvida utilizando todo o conhecimento repassado no curso de desenvolvimento web ministrado pela BETHA SISTEMAS</h4>
           <hr class="primary hr-white">
           <h2  class="section-heading">Contato</h2>
           <br>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center color-white">
            <i class="fa fa-phone fa-3x sr-contact"></i>
            <p>(48) 998 060 375</p>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <a class="color-white link-white"  href="../curriculo.html">
              <i class="fa fa-address-card-o fa-3x sr-contact"></i>
              <p>Currículo</p>
            </a>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <a class="color-white link-white" href="mailto:your-email@your-domain.com">
              <i class="fa fa-envelope-o fa-3x sr-contact"></i>
              <p> guilhermerebelo@live.com</p>
            </a>  
          </div>
        </div>
      </div>
    </footer>



    <!-- Bootstrap core JavaScript -->
    <script src="../../biblioteca/jquery/jquery.min.js"></script>
    <script src="../../biblioteca/popper/popper.min.js"></script>
    <script src="../../biblioteca/scrollreveal/scrollreveal.min.js"></script>

    <!-- bootstrap -->    
    <script src="../../biblioteca/bootstrap/js/bootstrap.min.js"></script>

      <!-- Biblioca de alerta -->
    <script type="text/javascript" src="../../biblioteca/sweetalert/sweetalert.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../../js/creative.js"></script>

  </body>
</html>
