<div class="row" >
    <div class="panel with panel-primary class">                            
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                      <span class="color-title-page">Conteúdo e Notas</span>
                    </h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <div class="panel-body">  
            <div class="panel panel-default" ng-controller="ctrlCurso">
                <div class="panel-heading">Conteúdo</div>

                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="">
                            <h4 class="text-uppercase"> Conteúdo curso de <br> </h4>
                            <h3 class="text-uppercase">{{conteudoCursoNome}} </h3>
                        </label>
                        <div class="col-sm-6">
                          <p > {{conteudoCursoConteudo}} </p>
                        </div>
                    </div>
                </div>
            </div>

            <hr><br>
            <div class="panel panel-default" ng-controller="ctrlAluno">
                <div class="panel-heading">Notas</div>

                <div class="panel-body">
                    <p>
                        <h4  class="text-center text-uppercase"> Acompanhe no quadro suas notas</h4>
                    </p>
                    <br>
                    <table class="table table-striped text-center">
                        <thead>
                            <tr >
                                <th class="text-center">Avaliação 1</th>
                                <th class="text-center">Avaliação 2</th>
                                <th class="text-center">Avaliação 3</th>
                                <th class="text-center">Avaliação 4</th>
                                <th class="text-center">Média Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-size-25"> {{painelAluno.nota1}} </td>
                                <td class="font-size-25"> {{painelAluno.nota2}} </td>
                                <td class="font-size-25"> {{painelAluno.nota3}} </td>
                                <td class="font-size-25"> {{painelAluno.nota4}} </td>       
                                <td class="font-size-25"> {{ ((painelAluno.nota1 + painelAluno.nota2 + painelAluno.nota3 + painelAluno.nota4) / dividirNota) | limitTo:3 }} </td>   
                            </tr>
                        </tbody>
                    </table>
                </div>
            
            </div>

        </div>
        <!-- /.body panel -->                    
    </div> 
    <!-- /.panel -->

</div>
<!-- /.row -->