 <div class="row" ng-controller="ctrlPainelProfessor">
        <div class="panel with panel-primary class">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                          <span class="color-title-page">Conta</span>
                        </h2>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
            <div class="panel-body">             

                <div class="panel panel-default">
                    <div class="panel-heading">Administrador</div>
                    <div class="panel-body">

                        <form name="painelProfessorFormSenha" class="form-horizontal">

                          <div class="form-group">
                            <label class="control-label col-sm-2" for="">Senha Atual</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" name="senhaAtual" placeholder="Senha Atual" ng-model="senha.senhaAtual" ng-required="true">
                               <div class="alert alert-danger" ng-show="painelProfessorFormSenha.senhaAtual.$error.required && painelProfessorFormSenha.senhaAtual.$dirty">
                                <strong>Obrigatório informar a senha atual</strong>
                              </div>
                            </div>
                          </div>
                          <hr>
                         <div class="form-group">
                            <label class="control-label col-sm-2" for="">Nova Senha</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" name="novaSenha" placeholder="Nova Senha" ng-model="senha.novaSenha" ng-required="true">
                               <div class="alert alert-danger" ng-show="painelProfessorFormSenha.novaSenha.$error.required && painelProfessorFormSenha.novaSenha.$dirty">
                                <strong>Obrigatório informar uma nova senha</strong>
                              </div> 
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="">Confirme Nova Senha</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" name="confirmaNovaSenha" placeholder="Confirme Nova Senha" ng-model="senha.confirmaNovaSenha" ng-required="true">
                               <div class="alert alert-danger" ng-show="painelProfessorFormSenha.confirmaNovaSenha.$error.required && painelProfessorFormSenha.confirmaNovaSenha.$dirty">
                                <strong>Obrigatório confirmar nova senha</strong>
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                              <button class="btn btn-success" ng-click="trocarSenha(professorLogado, senha)" ng-disabled="painelProfessorFormSenha.$invalid">CADASTRAR NOVA SENHA</button>
                          </div>
                          
                        </form>            

                    </div>
                </div>

            </div>
            <!-- /.body panel -->                    
        </div> 
        <!-- /.panel -->


        <!-- Modal -->
        <div class="modal fade posicao-modal-alerta" id="cadastroSenhaPainelProfessor" tabindex="50" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="alert alert-success text-center padding-30">
              <strong id="cadastroSenhaPainelProfessor-txt" class="font-size-25"><i class="fa fa-check" aria-hidden="true"></i></strong>
            </div>
          </div>
        </div>
         <!-- Modal -->

         <!-- Modal -->
        <div class="modal fade posicao-modal-alerta" id="cadastroSenhaPainelProfessor-erro" tabindex="50" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="alert alert-danger text-center padding-30">
              <strong id="cadastroSenhaPainelProfessor-erro-txt" class="font-size-25"><i class="fa fa-exclamation" aria-hidden="true"></i></strong>
            </div>
          </div>
        </div>
        <!-- Modal -->
    </div>
    <!-- /.row -->